@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/homepage.jpg);
    background-size: cover;
    overflow: hidden;
}

.hero span{
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 3vh;
}

.text-div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-end;
    width: 80%;
}

.logo-hero-center{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 6vh;
}

button{
    color: white;
    background: none;
    height: calc(10vh - 4px);
    border: 1px solid white;
    cursor: pointer;
    font-size: 3vh;
    min-width: fit-content;
}

button:hover{
    scale: 1.2;
    transition: 0.7s ease-in-out;
}

button:not(:hover)
{
    scale: 1;
    transition: 0.7s ease-in-out;
}

.lower-div{
    display: flex;
    justify-content: space-between;
    gap: 6vh;
}

.lower-div span{
    border-bottom: 1px solid white;
    cursor: pointer;
}

.lower-div span:hover{
    scale: 1.05;
    transition: 0.7s ease-in-out;
}

.lower-div span:not(:hover)
{
    scale: 1;
    transition: 0.7s ease-in-out
}


@media only screen and (max-width:600px)
{
    .text-div{
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }
}