@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');

p{
    font-family: 'Lexend Deca', sans-serif;
    color: #ffffff;
    font-size: 4vh;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
}

@media only screen and (max-width:600px)
{

    nav{
        justify-content: center;
        align-items: center;
    }

    .nav-left-div{
        display: none;
    }
}