@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap');

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: calc(48px - 0.25vw);
    color: white;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: calc(3% - 1vw);
}